.cookie-clicker {
  text-align: center;
  margin-top: 50px;
}

.cookie {
  font-size: 40px;
  cursor: pointer;
  margin: 20px;
  transition: transform 0.1s;
}

.cookie:hover {
  transform: scale(1.1);
}

p {
  font-size: 20px;
  color: #964B00;
}

.title {
  font-size: 32px;
}

h1 {
  color: #964B00;
}

h3 {
  color: #964B00;
}

@media only screen and (min-width: 1000px) {

  .title {
    font-size: 42px;
  }
  
  p {
    font-size: 34px;
    
  }

  h3 {
    font-size: 42px;
  }

  .logo-design {
    display: flex;
    position: absolute;
    left: 50px; 
    

  }

  h1 {
    display: flex;
    position: absolute;
    top: 0;
    left: 230px;
    
  }


}